@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@keyframes animatedText {
  0% { opacity: -5; transform: matrix(60px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animated-text {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #f78989;
  animation: animatedText 2s ease-in-out forwards;
  padding-top: 22%;
  padding-left: 42%;
}

.text-container p {
  font-family: 'Handwriting Font', cursive;
}

body {
  background-color: #000000;
  background-image: url(baground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  height: 50px;
  padding-right: 5%;
  padding-left: 15%;
  padding-top: 10%;
  padding-bottom:0;
  animation: animatedText 3s ease-in-out forwards;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0%;
  padding-top: -1px;
  animation: animatedText 3.5s ease-in-out forwards;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fefefe;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff0000;
  animation: menuAnimation 1s infinite alternate;
}

@keyframes menuAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

main {
  margin-top: 60px;
  background-color: transparent;
  padding: 20px;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  color: #efdddd;
  width: 100%;
  padding: 20px;
  font-size: 10px;
}

.it {
  padding-bottom: 20px;
  padding-left: 47%;
  font-family: 'Ysabeau SC', sans-serif;
  animation: animatedText 2.5s ease-in-out forwards;
  font-weight: bolder;
}

.cp {
  font-size: 1;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .animated-text {
    font-size: 20px;
    padding-top: 10%;
    padding-left: 20%;
  }

  .logo img {
    height: 30px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
  }

  nav ul {
    padding-left: 5%;
  }

  nav li {
    margin-right: 10px;
  }

  main {
    margin-top: 100px;
    padding: 10px;
  }

  footer {
    padding: 10px;
    font-size: 8px;
  }

  .it {
    padding-left: 30%;
  }
}